.Mac_App Button {
    background-color: black;
    color: white;
    padding: 0.1rem 0.7rem 0.3rem 0.7rem;
    border-radius: 20px 20px 20px 20px;

}
.Mac_App Button  span {
    position: relative;
    bottom: 0.1rem;
    font-size: 20px;
}
.Premium Button {
    padding: 0.4rem 0.7rem 0.3rem 0.7rem;
    border-radius: 10px;
    background-color: white;
}
.Premium Button  span {
    background-color: black;
    color: white;
    padding: 0.3rem 0.6rem 0.2rem 0.6rem;
    border-radius: 20px;
}
.mumber {
    position: relative;
    justify-content: center;
    left: 30vw;
    width: 40vw;
    border-radius: 10px;
    padding: 0.3rem 0.7rem 0.2rem 0.7rem;
    background-color: rgba(224, 221, 221, 0.334);
}
.Change_it_up {
    background: linear-gradient(45deg,  rgba(125, 182, 218, 0.555),  rgba(153, 234, 153, 0.637));
    border-radius: 20px;
}
.Sherable {
    background: linear-gradient(45deg,  rgba(187, 244, 213, 0.938),  rgba(110, 145, 110, 0.637));
    border-radius: 20px;

}

  
  .image_container {
    position: relative;
    width: 400px; 
    height: 180px; 
  }
  
  .image_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: rotate(5deg); 
   
    transition: transform 0.3s ease;
  }
  
  .image_bottom {
    z-index: 2;
    position: absolute;
    top: 60px; 
    left: 20px; 
    width: 100%;
    height: auto;
    z-index: 1; 
    transform: rotate(5deg); 
  }




  .image-container {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px; 
    height: auto;
    left: 30vw;
    top: 8vh;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
  }
  
  .overlay {
    top: 0;
    left: 60px; 
  }
  
  .overlay:nth-child(3) {
    left: 120px;
  }
  
  .overlay:nth-child(4) {
    
    left: 180px;
  }
  
  .overlay:nth-child(5) {
  
    left: 240px;
  }
  
  .reverse {

    left: 310px; 
    z-index: -1;
  }
  
  .reverse:nth-child(7) {
    left: 370px; 
    z-index: -2;
  }
  
  .reverse:nth-child(8) {
    left: 420px; 
    z-index: -3;
  }
  
  .reverse:nth-child(9) {
    left: 480px; 
    z-index: -4;
  }
  
  .reverse:nth-child(10) {
    top: 160px; /* Adjust spacing as needed */
    left: 20px;
  }
  
  
  .container-fluid-twist{
    position:relative;
    top:20rem;
  }